@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,400&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}

:root{
    --var--background-color:#2A7AE4;
    --var--background-darkColor:#464646;
}