@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,400&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    background-color:#F5F5F5;
}

:root{
    --var--background-color:#2A7AE4;
    --var--background-darkColor:#464646;
    --var--background-footer:#EAF2FD;
}

.section__title{
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    color: var(--var--background-darkColor);
}

a{
    text-decoration: none;
}

.show__product--link{
    text-decoration: none;
    color: var(--var--background-color);
    font-size: 1rem;
    font-weight: bold;
    font-style: normal;
    line-height: 1rem;
}

.product__price{
    font-weight: bold;
    color: var(--var--background-darkColor);
}