.galeria__section{
    margin-top: 5rem;
}
.galeria__section .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.galery__title{
    display: flex;
    justify-content: space-between;
    margin: 0 4rem;
}

.galery__container{
    display: flex;
    flex-direction: column;
    width: 176px;
    height: 174px;
    margin: 1rem 1rem;
}

.galery__container a{
    margin-top: 0.5rem;
}

.galery__container img{
    margin-bottom: 0.5rem;
}