.galeria__section{
    margin-top: 5rem;
    margin-bottom: 100px;
}
.galeria__section .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 5rem;
}

.galery__title{
    display: flex;
    justify-content: space-between;
    margin:  4rem;
}

.galery__container{
    display: flex;
    flex-direction: column;
    width: 176px;
    height: 174px; 
}

.galery__container a{
    margin-top: 0.5rem;
}

.galery__container img{
    margin-bottom: 0.5rem;
}

/* Responsive */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .galeria__section .container{
        gap: 6rem;
    }
}